# Core Data Science
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.2.0

# Deep Learning & ML
torch>=2.0.0
tqdm>=4.65.0

# Visualización
matplotlib>=3.7.0
seaborn>=0.12.0

# Entorno de trabajo
jupyterlab>=4.0.0

# Opcional (Descomentar si abordas el módulo de Grafos)
# torch-geometric>=2.3.0